<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Practice_OneStepCheckout>
            <version>0.0.1</version>
        </Practice_OneStepCheckout>
    </modules>
    
    
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <onestepcheckout before="Mage_Checkout">Practice_OneStepCheckout</onestepcheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <onestepcheckout>
                    <file>onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>
        
    </frontend>
    
</config>
