<?xml version="1.0" encoding="UTF-8"?>


<config>
    
    
    <frontend><!-- admin -->
        <routers>
            <foo_bar><!-- just needs to be unique -->
                <use>standard</use> <!-- admin -->
                <args>
                    <module>Foo_Bar</module> <!-- etc/modules/Foo_Bar.xml -->
                    <frontName>foo</frontName> <!-- ** IMPORTANT ** -->
                </args>
            </foo_bar>
            
            <!-- with de firebug i inspeccioned de name of the class -->
            <!-- <body class="catalog-category-view ....> -->
            
            <catalog>
                <args>
                    <modules>
                        <foo_bar before='Mage_Catalog'>Foo_Bar_Catalog</foo_bar>
                    </modules>
                </args>
            </catalog>
            
        </routers>
    </frontend>
    
    
    
  
    <global>
        <models>
            <foo_bar>
                <class>Foo_Bar_Model</class>
            </foo_bar>
        </models>
    </global>
    <!-- <frontend> -->
    <global>
        <events>
            <catalog_product_load_after><!-- event -->
                <observers>
                    <foo_bar><!-- unique for event -->
                        <type>model</type>
                        <!-- model | singleton* | disabled -->
                        <class>foo_bar/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </foo_bar>
                </observers>
            </catalog_product_load_after>
        </events>
    </global>
    <!-- </frontend> -->
   
</config>

