<?xml version="1.0" encoding="UTF-8"?>

<!--
<config>
    <default>
        <some>
            <random>
                <xpath>Here is a value</xpath>
            </random>
        </some>
    </default>
    <stores>
        <es>
            <some>
                <random>
                    <xpath>Here is a Spanish view</xpath>
                </random>
            </some>
        </es>
    </stores>
</config>

-->


<config>
 <!--   
<global>
        <models>
            <catalog>
                <class>Mage_Catalog_Model</class>
                
-->
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>First_Module_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        
        <helpers>
            <customer>
                <rewrite>
                    <address>First_Module_Helper_Address</address>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <data>First_Module_Helper_Data</data>
                </rewrite>
            </sales>
        </helpers>
        
        <models>
            <catalog>
                <rewrite>
                    <product>First_Module_Model_Product</product>
                </rewrite>
            </catalog>
            
            <catalog_resource>
                <rewrite>
                    <product>First_Module_Model_Product_Resource_Model</product>
                </rewrite>
            </catalog_resource>
            
            
        </models>
    </global>
    
    
    
</config>